@import url("main.css");
@import url("navbar.css");
@import url("book.css");
@import url("footer.css");
@import url("mediaqueries.css");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&display=swap");

* {
  font-family: "Goudy Bookletter 1911", serif;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Gentium Book Plus", serif;
}
.old-letter {
  font-family: "MedievalSharp", cursive;
  font-family: "Pacifico", cursive;
}
.letter-title-book {
  font-family: "Cinzel", serif;
  font-family: "Gentium Book Plus", serif;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.red {
  color: #c8293b;
}

.golden {
  color: #e3c27e;
}

.brown {
  color: #b59a5b;
}
.dark-brown {
  color: #816930;
}

.list-style-none {
  list-style: none;
}

.title-size {
  font-size: 1.7em;
}
.sub-title-size {
  font-size: 1.2em;
}
