@import url("main.css");
@import url("navbar.css");
@import url("book.css");
@import url("footer.css");
@import url("mediaqueries.css");
@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

.old-letter {
  font-family: "MedievalSharp", cursive;
}

.red {
  color: #c8293b;
}

.golden {
  color: #e3c27e;
}

.brown {
  color: #b59a5b;
}
.dark-brown {
  color: #816930;
}
