.book-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  max-width: 450px;
  height: 300px;
  position: relative;
  perspective: 1000px;
  transition: 1s;
  margin-bottom: 8rem;
  cursor: pointer;
}

.book {
  position: absolute;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  transform-origin: left;
  transition: 1s;
}
.face-front,
.face-back {
  width: 100%;
  height: 100%;
  background: url("../../public/images/OLD_PAPER_TEXTURE.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
}
.face-front {
  box-shadow: inset 3px 0px 20px -7px black;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.face-back {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateZ(-1px) rotateY(180deg);
  box-shadow: inset -3px 1px 20px -7px black;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.portada {
  background: url("https://www.dymocks.com.au/Pages/ImageHandler.ashx?q=9780261103252&w=&h=570");
}
.portada-back {
  background: url("../../public/images/portadaBack.jpg");
}
.portada,
.portada-back {
  background-size: 100% 100%;
}

.proyects {
  cursor: pointer;
  font-size: 0.8em;
}

.container-bottom {
  position: absolute;
  bottom: 0;
  right: 0.1px;
  justify-content: center;
  margin-bottom: 0.5em;
  width: 100%;
  min-height: 1.5em;
}
.number-page {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 1em;
  margin-bottom: 0.5em;
}
.back-to-index {
  cursor: pointer;
  position: absolute;
  left: 0;
  margin-left: 1em;
  font-size: 1em;
}
.back-to-proyects {
  cursor: pointer;
  font-size: 1em;
  margin-left: 1em;
}
.back-to-proyects:hover {
  color: #c8293b;
}

.img-me {
  width: 5.5em;
}
.img-proyects-container {
  overflow: hidden;
}

.img-proyects {
  width: 12em;
  transition: 0.5s;
  margin-top: 0.3em;
}

.wooden-button-cv {
  width: auto;
  padding: 0.3em 0.7em;
}
.wooden-button-link {
  width: auto;
  padding: 0.5em 0.7em;
}
.icon-git-book:hover {
  transform: none !important;
}
.links-book {
  text-decoration: none;
  color: white;
}
.links-book:hover {
  color: #e3c27e;
}
.contact-link {
  text-decoration: none;

  color: #212529;
}

.contact-link:hover {
  color: #c8293b;
}
.text-description {
  hyphens: auto;
  color: rgb(93, 97, 102);
  text-align: justify;
  font-size: 1em;
  margin-top: 0.2em;
}
