p {
  margin-top: 10px;
  font-size: 13px;
  text-align: justify;
  color: rgb(93, 97, 102);
}

.book-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  max-width: 450px;
  height: 300px;
  position: relative;
  perspective: 1000px;
  transition: 1s;
  margin-bottom: 8em;
}

.book {
  position: absolute;
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  transform-origin: left;
  transition: 1s;
}
.face-front,
.face-back {
  width: 100%;
  height: 100%;
  background: url("../../public/images/OLD_PAPER_TEXTURE.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
}
.face-front {
  box-shadow: inset 3px 0px 20px -7px black;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.face-back {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateZ(-1px) rotateY(180deg);
  box-shadow: inset -3px 1px 20px -7px black;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.portada {
  background: url("https://www.dymocks.com.au/Pages/ImageHandler.ashx?q=9780261103252&w=&h=570");
}
.portada-back {
  background: url("../../public/images/portadaBack.jpg");
}
.portada,
.portada-back {
  background-size: 100% 100%;
}

.proyects {
  cursor: pointer;
  font-size: 0.7em;
}
.number-page {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 1em;
  margin-bottom: 0.5em;
}
.back-to-index {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 1em;
  margin-bottom: 0.5em;
  cursor: pointer;
}
