.icon-footer {
  font-size: 1.7em;
  cursor: pointer;
  transition: 0.1s;
}
.icon-footer:hover {
  transform: scale(1.1);
}
.icon-footer-container {
  gap: 2em;
}
.icon-footer-link {
  color: #c8293b;
}
.icon-footer-link:hover {
  color: #c8293b;
}
