@media (max-width: 300px) {
  .nav-bar {
    font-size: 8px;
  }
  
}

@media (max-width: 575px) {
  .book-content {
    min-width: 47.5vw;
  }
  .nav-bar {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  .link-nav {
    margin-left: 4em;
  }
}
@media (max-width: 992px) {
  .nav-bar {
    /* background-image: url("https://res.cloudinary.com/duuwqmpmn/image/upload/v1684175801/fondo_hoja_vieja_ylj6au.jpg");
    background-repeat: none;
    background-size: cover; */
    z-index: 1;
    /* border-bottom: 2px solid #a31e23; */
  }
  .link-nav {
    margin-top: 2em;
  }
  .portfolio-name {
    position: relative;
    top: 1.15em;
  }
}
